
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<h3>
    @Html.ActionLink("Update Product", "GetProducts", "Products") |
    @Html.ActionLink("Add Product", "GetProducts", "Products") |
    @Html.ActionLink("Delete Product", "GetProducts", "Products") 

</h3>

