@{
    ViewBag.Title = "About";
}
    <header>
        <h1>Meet the Team!</h1>
        <h3>Lorem ipsum dolor sit amet, at vitae intellegam duo. Te eam omnis adolescens, falli fierent iudicabit mel te.</h3>
    </header>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/images/s2syellow.png" class="center" alt="Matt" style="width:100px">
                <div class="container">
                    <h7>Matt Davison</h7>
                    <p class="title">Director</p>
                    <p class="about">Hi, nice to meet you!</p>
                    <p class="about">m.davison@spot2spot.co.uk</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/images/s2syellow.png" class="center" alt="Matt" style="width:100px">
                <div class="container">
                    <h7>Matt Davison</h7>
                    <p class="title">Director</p>
                    <p class="about">Hi, nice to meet you!</p>
                    <p class="about">m.davison@spot2spot.co.uk</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/images/s2syellow.png" class="center" alt="Matt" style="width:100px">
                <div class="container">
                    <h7>Matt Davison</h7>
                    <p class="title">Director</p>
                    <p class="about">Hi, nice to meet you!</p>
                    <p class="about">m.davison@spot2spot.co.uk</p>
                </div>
            </div>
        </div>
    </div>
