@*@{
        ViewBag.Title = "SendEmail";
    }

    <h2>SendEmail</h2>*@

@{
    ViewBag.Title = "Contact Us";
}

<h2> Contact Us </h2>
<p>We will endeavour to respond as soon as we can.</p>
<br />
<br />
@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}


@*form that display get email*@
<form method="post" action="SendEmail">
    <div class="container">
        <span class="form-control-static"> Subject: </span>
        <input class="form-control" type="text" name="subject" /> <br />
        <span class="form-control-static"> Message: </span>
        <input class="form-control" type="text" name="message" /> <br />
        <input class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>

@Html.ActionLink("Back to Home", "Index")

